.login-form{
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 15px;
    border: 2px dotted #cccccc;
    border-radius: 10px;
}

.login-form h1{
    color: #009999;
    font-size: 20px;
    margin-bottom: 30px;
}

.input-box{
    margin-bottom: 10px;;
}
.input-box input{
    padding: 7.5px 15px;
    width: 100%;
    border: 1px solid #cccccc;
    outline: none;
}
.btn-box{
    text-align: right;
    margin-top: 10px;
}
.btn-box button{
    padding: 7.5px 15px;
    border-radius: 2px;
    background-color: #009999;
    color: #ffffff;
    border: none;
    outline: none;
}

.th-bold{
    font-weight: 700;
    background-color: #ffffff;
}
/*.th-width{
    width: 300px;
}*/
.table-user{
    text-align: center;
    width: auto;
    max-width: 600px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 15px;
    border: 2px dotted #cccccc;
    border-radius: 10px;
}
.form-center{
    padding-top: 5px;
    margin: auto;
}

.form-center img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    height: 140px;
    border-radius: 5%;
    -o-object-fit: cover;
    object-fit: cover;
}
.form-center a{
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.form-center td,th{
    padding: 20px;
}

select{
    width: 70px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.customarea{
    padding: 20px;
    text-align: center;
    width: 400px;
}
.customarea textarea{
    font-size: 18px;
    color: #000;
    font-weight: 400px;
}
.customarea h1{
    padding: 20px;
    font-size: 25px;
    font-weight: 500;
    color: #009999;
}
.customarea input{
    margin-top: 10px;
    width: 100px;
    font-size: 15px;
}

.hover:hover{
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    background-color: #FFFFFF;
}

.form-data{
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    width: 80%;
    margin-top: 50px;
}
.form-data td,th{
    padding: 20px;
    border: 2px dotted #cccccc;
}
.form-data image{
    width: 150px;
}

.chars-cate{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    
}

.chars-jobs{
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    
}
.stats-custom{
    text-align: center;
}
.stats-custom h1{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: 500;
    color: #009999;
}
.stats-custom table{
    margin: auto;
    padding-top: 20px;
}
.stats-custom input{
    margin: auto;
    width: 300px;
}
.name{
    font-weight: 600;
    font-size: 15px;
    color: #009999;
}
